:root {
    --text-color-0: #0b0b0b;
    --text-color-1: #f7f7f7;
    --text-color-2: #747474;

    --background-color-0: #f7f7f7;
    --background-color-1: #eeeeee;
    --background-color-2: #e6e6e6;
    --background-color-3: #fafafa;

    --border-color-0: #d1d1d1;
    --border-color-1: #d1d1d1;

    --accent-color-0: #ff1507;
    --accent-color-1: #ff3d33;

    /* sidebar overlay color */
    --sidebar-overlay-color: rgba(0, 0, 0, 0.4);

    --monospace-font-family:
        "Google Sans Code", "Courier New", Courier, monospace;
    --sans-serif-font-family: "Manrope", Arial, Helvetica, sans-serif;
}
