/***************/
/* CODE BLOCKS */
/***************/

pre {
    /* padding handled by code block */
    padding: 0rem;
    margin: 1.5rem 0;

    font-family: var(--monospace-font-family);
    font-size: 1rem;
    line-height: 1.4;

    background-color: var(--background-color-3);
    border: 1px solid var(--border-color-0);

    overflow-x: auto;
}

code {
    font-family: var(--monospace-font-family);
    font-size: 0.85rem;
}

pre code {
    background: none;
    padding: 0;
    border: none;
}

p code,
li code,
td code {
    background-color: var(--background-color-1);
    padding: 0.2rem 0.4rem;
    border: 1px solid var(--border-color-0);
}
